@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+20&display=swap');
body {
  background-color: #131218;
  font-family: "Jersey 20", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h1{
  text-align: center;
  color:white;

}

div .form {
  background-color: rgba(50, 34, 57, 0.32);
  width: 400px;
  height: 450px;
  padding: 10px;
  box-shadow: 10px 10px 40px 10px;
  border-radius: 10px 40px;

}

form {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 35px;

}
form input, button {
  padding: 15px;

}

input {
  background-color: #dcceeaf7;
  border: 0;
  border-radius: 10px;
}
button{
  background-color: #377142;
  border-radius: 10px;
  font-size: medium;
  font-weight: bold;
  border: 0;
  border-bottom: 2px solid;
  border-color: #ffffff;



}

button:hover {
background-color: #6ba979;
cursor: pointer;

}

div .imagem {
  background-image: url("https://purepng.com/public/uploads/medium/purepng.com-astronautastronautcosmonauttrainedtrainedspaceflightpilotspace-travelersclipart-1421526661352yhacr.png");
  margin: 50px;
  height: 390px;
  width: 370px;
  background-size:cover;
  background-repeat: no-repeat;
  animation: floatAnimation 3s infinite alternate ease-in-out;
}

@keyframes floatAnimation {
  2% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8%;
}